body{
	background-color: lightblue;
}

h1{
	color: navy;
	margin-left: 20px;
	font-family: sans-serif;
}

#p1{
	font-size: 20px;
	font-weight: 700;
	font-family: sans-serif;
	text-align:center;
	color: red;
}

.p2{
	color: green;
	text-align: center;
}